using UnityEngine;
using Nanory.Lex;
using Nanory.Lex.Conversion;

namespace Client.Battle
{
    public class {itemname}Authoting : MonoBehaviour, IConvertGameObjectToEntity
    {
        public void Convert(int entity, GameObjectConversionSystem converstionSystem)
        {
            $
        }
    }
}
