using Nanory.Lex;
using Nanory.Lex.Lifecycle;

namespace Client.Match3
{
    public sealed class {itemname}System : EcsSystemBase
    {
        protected override void OnUpdate()
        {
            $
        }
    }
}
